$bg-color: lighten(desaturate(#369, 20%), 10%);

@keyframes turn {
    100% {
        transform: rotate(180deg);
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 5%;
    background: $bg-color;
    color: #fff;
    text-align: center;
    font-family: $font, sans-serif;
    font-size: 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 8px;
}

h2 {
    margin: 0;
}
