@keyframes pulse {
    50% { opacity: 0.7; }
}

.sprite {
    position: absolute;

    &.circle:after {
        $size: 40%;
        content: '';
        position: absolute;
        top: (100% - $size) / 2;
        left: (100% - $size) / 2;
        width: $size;
        height: $size;
        border-radius: 100%;
        background: #fff;
        opacity: 0.9;
        // animation: pulse 2s infinite;
        box-shadow: 0 0 10px rgba(#000, 0.5);
    }
}